<% if current_user.admin? %>
  <%= link_to 'Agregar Producto', new_product_path, class:'btn-index' %>
<% end %>

<div class="search-bar">
  <%= form_tag products_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Buscar"%>
    <%= submit_tag "Encontrar", class: "btn btn-primary", style:'border-radius:100px' %>
  <% end %>
</div>

<div class="cards-container">    
  <% @products.each do |product| %>
    <%= link_to product_path(product), style:"text-decoration:none" do %>
      <div class="card-trip">
        <% if product.photos.any? %>
          <%= cl_image_tag product.photos.first.key, class: "card-img-top" %>
        <%else%>        
          <img , class="card-img-top", src="https://source.unsplash.com/random" alt="Card image cap">
        <%end%>
        <div class="card-trip-infos">
          <div>
            <h2><%= product.title %></h2>
            <p><%= product.description %></p>
          </div>
          <h2 class="card-trip-pricing"><%= product.price %>$</h2>
        </div>
      </div>
    <%end %> 
  <%end %>
</div>  


