<%= link_to 'Catalogo', products_path, class:'btn-index' %>
<% if current_user.admin? %>
  <%= link_to 'Agregar Producto', new_product_path, class:'btn-index' %>
<% end %>


<div class="show-container">

  <div class="img-container">
    <% if @product.photos.any? %>
      <% @product.photos.each_with_index do |photo, n| %>
    <% end %>

      <%= cl_image_tag @product.photos.first.key %>

      <% @product.photos.drop(1).each do |photo| %> 
        <%= cl_image_tag photo.key, class: "d-block w-100", style: 'height:400px'  %>
             
      <% end %>

      <%else%>        
        <img , class="card-img-top", src="https://source.unsplash.com/random" alt="Card image cap">
      <%end%>
  </div>      


  <div class="show-text-container">
    <div style='margin-top:30px'>
      <h4 style='font-size: xx-large; text-align:center; font-family: Satisfy;'><%= @product.title %></h4>
    </div>
    <h4 class="border-bottom">Precio</h4>
      <p><%= @product.price %> $</p>
    <h4 class="border-bottom">Dimensiones</h4>
      <p><%= @product.dimensions %></p> 
    <h4 class="border-bottom">Antiguedad</h4>
      <p><%= @product.age %></p> 
    <h4 class="border-bottom">Informacion</h4>
      <p><%= @product.description %></p>
      
    <% if current_user.admin? %>
      <div class="button-container", style='margin-top: 40px; text-align: center;'>
        <%= link_to 'Modifica el Producto', edit_product_path(@product.id), class:'btn-small' %>
        <%= link_to "Borrar Producto", product_path(@product), method: "delete", class: "btn-small", data: { confirm: "Are you sure?" }, style:'margin-top: 20px; margin-left: 20px;' %>
      </div>
    <% end %>
    <h5 style='margin-top:100PX'>Todos los objetos seran desinfectados antes de la entrega</h5>
  </div>

</div>

 <script>
      window.Papercups = {
        config: {
          accountId: "ef5f13ee-cf61-4d26-839b-a506055720ab",
          title: "Escribenos",
          subtitle: "Preguntanos lo que necesites 😊",
          primaryColor: "#79b473",
          greeting: "",
          awayMessage: "",
          newMessagePlaceholder: "Escribiendo...",
          showAgentAvailability: true,
          agentAvailableText: "Estamos en Linea!",
          agentUnavailableText: "Estamos Desconectador por el Momento",
          requireEmailUpfront: false,
          iconVariant: "outlined",
          baseUrl: "https://app.papercups.io",
          // Optionally include data about your customer here to identify them
          // customer: {
          //   name: __CUSTOMER__.name,
          //   email: __CUSTOMER__.email,
          //   external_id: __CUSTOMER__.id,
          //   metadata: {
          //     plan: "premium"
          //   }
          // }
        },
      };
      </script>
      <script
      type="text/javascript"
      async
      defer
      src="https://app.papercups.io/widget.js"
      src="https://app.papercups.io/storytime.js"
      ></script>