<%= link_to 'Catalogo', products_path, class:'btn-index' %>
<% if current_user.admin? %>
  <%= link_to 'Agregar Producto', new_product_path, class:'btn-index' %>
<% end %>


<div class="show-container">
  <section>
      <div class="container">
          <div class="carousel">
              <input type="radio" name="slides" checked="checked" id="slide-1">
              <input type="radio" name="slides" id="slide-2">
              <input type="radio" name="slides" id="slide-3">
              <input type="radio" name="slides" id="slide-4">
              <input type="radio" name="slides" id="slide-5">
              <input type="radio" name="slides" id="slide-6">
              <ul class="carousel__slides">
                  <li class="carousel__slide">
                      <% if @product.photos.any? %>
                        <% @product.photos.each_with_index do |photo, n| %>
                      <% end %>
                      <figure>
                              <%= cl_image_tag @product.photos.first.key, class: "d-block w-100" %>
                              <% @product.photos.drop(1).each do |photo| %> 
                                <%= cl_image_tag photo.key%>
                                    
                              <% end %>
                          <%end%>        
                      </figure>
                  </li>
                  
              </ul>    
              <ul class="carousel__thumbnails">

                  <% @product.photos.each_with_index do |photo, n| %>
                  <li>
                    <label for="slide-<%=n += 1  %>"> <%= cl_image_tag photo.key, class: "d-block w-100" %> </label>
                  <%end%>                      
                  </li>
              </ul>
          </div>
      </div>
  </section>
    


  <div class="show-text-container">
    <div style='margin-top:30px'>
      <h4 style='font-size: xx-large; text-align:center; font-family: Poppins;'><%= @product.title %></h4>
    </div>
    <h4 class="border-bottom">Precio</h4>
      <p><%= @product.price %> $</p>
    <h4 class="border-bottom">Dimensiones</h4>
      <p><%= @product.dimensions %></p> 
    <h4 class="border-bottom">Antiguedad</h4>
      <p><%= @product.age %></p> 
    <h4 class="border-bottom">Informacion</h4>
      <p><%= @product.description %></p>
      
    <% if current_user.admin? %>
      <div class="button-container", style='margin-top: 40px; text-align: center;'>
        <%= link_to 'Modifica el Producto', edit_product_path(@product.id), class:'btn-small' %>
        <%= link_to "Borrar Producto", product_path(@product), method: "delete", class: "btn-small", data: { confirm: "Are you sure?" }, style:'margin-top: 20px; margin-left: 20px;' %>
      </div>
    <% end %>
    <h5 style='margin-top:100PX; font-family: Poppins;'>Todos los objetos seran desinfectados antes de la entrega</h5>
  </div>

</div>


<a
  href="https://wa.me/+593997521248"
  class="whatsapp_float"
  target="_blank"
  rel="noopener noreferrer"
>
  <i class="fa fa-whatsapp whatsapp-icon"></i>
</a>
