<div class="show-container">
  <div class="col-6 show" >
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />  
  </div>
  <div class="show-text-container">
    <div style='margin-top:30px'>
      <h4 style='font-size: xx-large'><%= @product.title %></h4>
    </div>
    <h4 class="border-bottom">Precio</h4>
    <p><%= @product.price %> $</h3>
    <h4 class="border-bottom">Dimensiones</h4>
    <p><%= @product.dimensions %></p> 
    <h4 class="border-bottom">Antiguedad</h4>
    <p><%= @product.age %></p> 
    <h4 class="border-bottom">Informacion</h4>
    <p><%= @product.description %></p>
    <% if current_user.admin? %>
      <div class="button-container", style='margin-top: 170px; grid-gap:10px'>
        <%= link_to 'Modifica el Producto', edit_product_path(@product.id), class:'btn-small' %>
        <%= link_to "Borrar Producto", product_path(@product), method: "delete", class: "btn-small", data: { confirm: "Are you sure?" }, style:'margin-top: 20px; margin-left: 20px;' %>
      </div>
    <% end %>
  </div>
</div>