<!DOCTYPE html>
<html>
  <head>
    <title>VentaDeGarage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    
    <link rel="shortcut icon" href="https://us.123rf.com/450wm/vectoroksana/vectoroksana2002/vectoroksana200230066/139780419-white-line-car-search-icon-isolated-on-green-background-magnifying-glass-with-car-vector-illustratio.jpg?ver=6" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"> 
      
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>    

  </body>
</html>
