<!DOCTYPE html>
<html>
  <head>
    <title>VentaDeGarage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    
    <link rel="shortcut icon" href="https://us.123rf.com/450wm/vectoroksana/vectoroksana2002/vectoroksana200230066/139780419-white-line-car-search-icon-isolated-on-green-background-magnifying-glass-with-car-vector-illustratio.jpg?ver=6" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"> 


    <script>
      window.Papercups = {
        config: {
          accountId: "ef5f13ee-cf61-4d26-839b-a506055720ab",
          title: "Escribenos",
          subtitle: "Preguntanos lo que necesites 😊",
          primaryColor: "#79b473",
          greeting: "",
          awayMessage: "",
          newMessagePlaceholder: "Escribiendo...",
          showAgentAvailability: true,
          agentAvailableText: "Estamos en Linea!",
          agentUnavailableText: "Estamos Desconectador por el Momento",
          requireEmailUpfront: false,
          iconVariant: "outlined",
          baseUrl: "https://app.papercups.io",
          // Optionally include data about your customer here to identify them
          // customer: {
          //   name: __CUSTOMER__.name,
          //   email: __CUSTOMER__.email,
          //   external_id: __CUSTOMER__.id,
          //   metadata: {
          //     plan: "premium"
          //   }
          // }
        },
      };
      </script>
      <script
      type="text/javascript"
      async
      defer
      src="https://app.papercups.io/widget.js"
      ></script>

      <script
      type="text/javascript"
      async
      defer
      src="https://app.papercups.io/storytime.js"
      ></script>
      
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>    

  </body>
</html>
